@page "/"


@foreach (var led in State.Leds)
{
    <div class="led @(led.State ? "on" : "off")" style="background-color: @led.Color;"></div>
}


<div>
    <button @onclick="Start">Start</button>
</div>