@page "/"

@foreach (var led in LedButtons)
{
    <div class="led @(led.State ? "on" : "off")" style="background-color: @led.Color;" @onmousedown="() => Press(led.Index, true)" @onmouseup="() => Press(led.Index, false)"></div>
}

<div>
    <button @onclick="Game.Reset">Restart</button>

    <div class="score">@Score</div>
</div>